<%- include('./layouts/header') %>

<style>
    .container {
        width: 100%; /* Adjust the width as needed */
        padding: 35px;
        background-color: #fff;
        border-radius: 10px;
        border: 2px solid red; /* Red border on hover */
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);  /* Subtle shadow */
    }
    
</style>
<h1 style="font-size: 50px";>Anup Ojha</h1>
<br>
        <div class="container">

            <div class="header">
                
                <p>
                    <a href="mailto:anup2001ojha@gmail.com">anup2001ojha@gmail.com</a> | 
                    <a href="https://linkedin.com/in/anup-ojha-11819b217/" target="_blank">LinkedIn</a> | 
                    <a href="https://github.com/Anup-Ojha" target="_blank">GitHub</a>
                </p>

            </div>
<br>
            <div class="section">
                <h2>Education</h2>
                <ul>
                    <li><strong>Masters of Computer Applications</strong>, Vivekanand Education Society’s Institute Of Technology, Mumbai (GPA: 9.74)</li>
                    <li><strong>Bachelor of Commerce (Computer Application)</strong>, Tirpude Institute of Management Education, Nagpur (GPA: 9.27)</li>
                </ul>
            </div>
            <br>
            <div class="section">
                <h2>Projects</h2>
                <ul>
                    <li><strong>Code-Mapper:</strong> <a href="https://github.com/Anup-Ojha/-Roadmap-Website-For-Programming-Languages">Interactive Learning Platform</a> (Angular, Node.js, TypeScript)</li>
                    <li><strong>Rep-Track:</strong> <a href="https://github.com/Anup-Ojha/RepTrack-ML-Based-Barbell-Exercise-Classifier">Exercise Classification System</a> (Python, ML)</li>
                    <li><strong>Venue-Vista:</strong> <a href="https://github.com/Anup-Ojha/GUI-in-Python-for-Ground-and-Halls-Booking-System">GUI for Venue Booking</a> (Python, Tkinter, MySQL)</li>
                </ul>
            </div>
            <br>
            <div class="section">
                <h2>Achievements</h2>
                <ul>
                    <li>96.73 percentile in MAH-CET (MCA), 2023</li>
                    <li>Second Rank holder in graduation</li>
                </ul>
            </div>
            <br>
            <div class="section">
                <h2>Volunteering</h2>
                <ul>
                    <li>Incharge of SoRT at VESIT Mumbai: Organized a beach cleaning drive.</li>
                    <li>Newsletter Committee member at VESIT: Coordinated and published department newsletters.</li>
                    <li>Secretary at TOP: Conducted community drives during COVID-19.</li>
                </ul>
            </div>
            <br>
            <div class="section">
                <h2>Technical Skills</h2>
                <ul>
                    <li><strong>Languages:</strong> Java, Python, HTML/CSS, JavaScript</li>
                    <li><strong>Frameworks:</strong> Angular, Node.js</li>
                    <li><strong>Tools:</strong> Git, MySQL, Scikit-learn</li>
                </ul>
            </div>
            <br>
            <div class="section">
                <h2>Certifications</h2>
                <ul>
                    <li>C++ Programming (Udemy)</li>
                    <li>Mastering Data Structures (Udemy)</li>
                    <li>Python for Data Science (NPTEL)</li>
                </ul>
            </div>
        </div>
        <br>
        <br>



<%- include('./layouts/footer') %>
